<!DOCTYPE html>
<html>
	<head>
		<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<textarea class="form-control"></textarea>
		<div id="submit">
			<input type="button" onclick="onSubmit()" value="Submit" class="btn btn-primary"></input>
		</div>
		<style>
			.form-control {
				margin: 3% 3% 3% 3%;
				width: 94%;
				height: 40%;
				font-size: 200%;
			}
			.btn-primary {
				position: absolute;
				left: 30%;
				width: 40%;
				height: 10%;
				font-size: 200%;
				text-align: center;
				border-radius: 5%;
			}
		</style>
		<script>
			function onSubmit() {
				let button = document.getElementById("destination");
				if (!navigator.geolocation) return;
				
				navigator.geolocation.getCurrentPosition((position) => {
					postData(button.value, position.coords).then((data) => {
						if (data.status == 0) {
							// Set the background red and let
							// the user enter a new destination
							document.body.style.backgroundColor = "red";
						}
						else if (data.status == 1) {
							// Set the background green and hide the text-box
							document.body.style.backgroundColor = "green";
							document.getElementById("destination").remove();
							let button = document.getElementById("submit");
							button.value = '';
							button.remove();
						}
					});
				});
			}

			async function postData(destination_str, current_location) {
				let  data = {
					destination: destination_str,
					current_lat: current_location.latitude,
					current_long: current_location.longitude
				};
				const response = await fetch('http://127.0.0.1:5000/test', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data),
				})
				return response.json();
			}
		</script>
	</body>
</html>
